.c-about {
	gap: 48px;

	&__desc {
		color: var(--color-text);
		@include font-size(16px, 1.8);

		svg {
			vertical-align: middle;
			margin-left: 6px;
		}
	}

	ul {
		li {
			list-style: arabic-indic;
		}
	}

	&__slider {
		-webkit-mask-image: linear-gradient(90deg, transparent 0%, #000 10%);
	}

	&__slide {
		width: 20%;
		margin-left: 16px;
		@include mq($from: md, $until: desktop) {
			width: 25%;
		}
		@include mq($from: sm, $until: md) {
			width: 35%;
		}
		@include mq($until: sm) {
			width: 54%;
		}

		img {
			width: 100%;
			height: 170px;
			object-fit: cover;
		}
	}

	h2 {
		color: var(--color-text);
		@include font-size(18px, 1.8);
		position: relative;
		width: max-content;
		margin-bottom: 16px;
		max-width: 100%;
		text-align: justify;
	}
}

.title-sec-content {
	overflow: hidden;
	color: rgb(41, 45, 50);
	@include font-size(24px, 1.8);
	white-space: nowrap;

	span {
		color: var(--color-secondary);
	}

	&:after {
		content: "";
		left: 0;
		right: 12px;
		width: 100%;
		height: 1px;
		background: var(--color-dark-20);
		position: relative;
		display: inline-block;
	}
}
