.c-aggregator {
	padding: 0;
	@include mq($until: sm) {
		flex-direction: column;
	}

	h3 {
		color: var(--color-dark);
		@include font-size(16px, 1.8);
		@include mq($from: sm) {
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 1;
			overflow: hidden;
			height: 27px;
			margin: 0;
		}
		@include mq($until: sm) {
			text-align: center;
		}
	}

	.aggregator-content {
		border: 1px solid var(--color-grey);
		padding: 16px;
		flex: auto;
		border-radius: $border-radius;
		@include mq($until: sm) {
			svg {
				display: none;
			}
		}
	}

	.aggregator-btn {
		background: var(--color-secondary);
		transition: all .2s linear;
		color: var(--color-white);
		padding: 16px;
		border-radius: 12px;
		@include font-size(16px, 1.8);
		white-space: nowrap;
		@include mq($until: sm) {
			width: 93%;
			display: flex;
			justify-content: center;
		}

		path {
			transition: stroke .2s linear;
		}

		&:hover {
			background: var(--color-primary);
			color: var(--color-white);

			path {
				stroke: var(--color-white);
			}
		}
	}

}
