.btn {
	border-radius: $border-radius;
	padding: 16px;
	display: flex;
	align-items: center;
	gap: 8px;
	transition: all .2s linear;

	svg {
		height: 24px;
		width: 24px;
	}
	&:hover {
		background: var(--color-primary);
		color: var(--color-white);
	}
}

.primary-button {
	background: var(--color-secondary);
	color: var(--color-white);
}

.outline-button {
	border: 1px solid var(--color-primary);
	color: var(--color-primary);
	&:hover {
		svg path {
			stroke: var(--color-white);
		}
	}
}
