.w-100 {
	width: 100%;
}

.h-100 {
	height: 100%;
}

.h-auto {
	height: auto;
}

.p-0 {
	padding: 0;
}

.pt-0 {
	padding-top: 0;
}

.pb-0 {
	padding-bottom: 0;
}

.padding-sm {
	padding: 8px;
}

.padding-md {
	padding: 16px;
	box-sizing: border-box;
}

.padding-lg {
	padding: 32px;
	box-sizing: border-box;
}

.m-0 {
	margin: 0;
}

.mt-0 {
	margin-top: 0;
}

.mb-0 {
	margin-bottom: 0;
}

.border-radius {
	border-radius: $border-radius;
}

.radius-rounded-btm-lft {
	border-radius: 0 0 50px 0;
}

.txt-justify {
	text-align: justify;
}

.txt-left {
	text-align: left;
}

.txt-right {
	text-align: right;
}

.txt-center {
	text-align: center;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.color-primary {
	color: var(--color-primary);
}

.bg-white {
	background: var(--color-white);
}

.bg-gray {
	background: var(--bg-gray);
}

.bg-gradiant-top-btm {
	background: linear-gradient(0deg, #031232 0%, #244065 100%);
}

.bg-gradiant-btm-top {
	background: linear-gradient(0deg, #244065 0%, #031232 100%);
}

.items-start {
	align-items: flex-start;
}

.justify-end {
	justify-content: flex-end;
}

.cover {
	object-fit: cover;
}

.contain {
	object-fit: contain;
}

.border-box {
	box-sizing: border-box;
}

.d-block {
	display: block;
}

.color-white {
	color: var(--color-white);
}

.font-sm {
	@include font-size(14px, 1.6);
}

svg {
	flex-shrink: 0;
}

.numberic-list li {
	list-style: arabic-indic;
}

.c-title {
	color: var(--color-primary);
@include font-size(28px,1.6);
	@include mq($until: sm) {
		@include font-size(24px, 1.6)
	}
	span {
		color: var(--color-secondary);
	}
}

.sub-title {
	color: var(--color-primary);
	@include mq($until: sm) {
		@include font-size(17px, 1.6)
	}
}
