.c-employment {
	background: var(--color-white);
	border-radius: $border-radius;
	padding: 16px 24px;

	.gform_heading {
		display: none;
	}

	input, select {
		border: 1px solid #e7e7e7 !important;
		box-shadow: none !important;
		border-radius: 6px !important;
		color: var(--color-text) !important;
		@include font-size(14px, 1.6);
		transition: all linear .3s;
		background-color: #fbfbfb !important;

		&::placeholder {
			color: #9ca3af;
			opacity: 1;
		}

		&:focus, &:active {
			outline: none !important;
			border: 1px solid var(--color-secondary);
			background-color: var(--color-white) !important;
		}
	}
}

.gform_validation_errors {
	border-radius: 8px !important;
	margin-bottom: 18px !important;

	&:focus, &:active {
		outline: none !important;
	}
}

.gsection_description {
	color: #a3a3a3;
	@include font-size(14px, 1.8);
}

.gform_confirmation_message {
	display: flex !important;
	align-items: center !important;
	color: var(--color-secondary) !important;
	justify-content: center !important;
	flex-direction: column !important;
	gap: 18px !important;
	br{
		display: none;
	}
	&:before {
		content: "";
		background-image: url('data:image/svg+xml,<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.75 20.75C16.25 20.75 20.75 16.25 20.75 10.75C20.75 5.25 16.25 0.75 10.75 0.75C5.25 0.75 0.75 5.25 0.75 10.75C0.75 16.25 5.25 20.75 10.75 20.75Z" stroke="%2377B042" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M6.5 10.75L9.33 13.58L15 7.92" stroke="%2377B042" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
		height: 24px;
		width: 24px;
		display: flex;
		background-size: contain;
	}
	a{
		background: var(--color-secondary);
		padding: 12px 24px;
		color: var(--color-white);
		font-size: 14px;
		border-radius: 8px;
		transition: background .2s linear;
		&:hover{
			background: var(--color-primary);
		}
	}
}
