.c-section--hero {
	//background: linear-gradient(to right, #ffffff 66%, transparent 66%),
	//linear-gradient(180deg, #131D30 0%, #1F3D65 100%);
	padding-top: 160px;
	@include mq($until:md) {
		padding-top: 120px;
	}
	.hero-ext{
		position: absolute;
		bottom: 0;
		max-width: 28%;
		height: auto;
		@include mq($from:desktop,$until:desktopAd){
			bottom: 20%;
		}
		@include mq($from:md,$until:desktop){
			max-width: 32%;
		}
	}
	.hero-after{
		left: 0;
		@include mq($from:sm,$until:desktop){
			top: 20%;
		}
		@include mq($until:sm){
			position: relative;
			max-width: 100%;
		}
	}
	.hero-before{
		right: 0;
		@include mq($from:sm,$until:desktop){
			bottom: 20%;
		}
		@include mq($until:sm){
			display: none;
		}
	}
}

.c-hero {
	@include mq($until: md) {
		flex-direction: column;
		gap: 16px;
	}

	&__img {
		width: 40%;

		img {
			max-height: 500px;
			max-width: 100%;
			@include mq($until: desktop) {
				max-width: unset;
			}
		}

		@include mq($until: md) {
			width: 100%;
			justify-content: center;
			padding-top: 140px;
			position: relative;
			&:before {
				content: "";
				background: linear-gradient(to right, #ffffff 55%, transparent 55%),
				linear-gradient(180deg, #131D30 0%, #1F3D65 100%);
				right: -18px;
				left: 0;
				position: absolute;
				top: 0;
				bottom: 0;
				z-index: -1;
			}
			img {
				max-height: 360px;
			}
		}
	}

	&__info {
		width: 60%;
		text-align: center;
		gap: 32px;
		margin: auto;
		@include mq($until:desktop) {
			width: 100%;
		}
		@include mq($until: md) {
			gap: 16px;
		}
	}

	h1 {
		@include font-size(32px, 1.8);
		color: var(--color-primary);
		@include mq($until: 1100px) {
			span{display: block}
		}
		@include mq($until: sm) {
			@include font-size(24px, 1.8);
		}
	}

	p {
		@include font-size(18px, 1.8);
		color: var(--color-primary);
		@include mq($until: md) {
			@include font-size(15px, 1.8);
		}
	}

	ul {
		margin-top: 42px;
		@include mq($until: md) {
			gap: 8px;
			margin-top: 24px;
		}

		li {
			background: var(--color-primary);
			padding: 16px;
			transition: all .2s linear;
			@include mq($until: sm) {
				padding: 12px;
			}

			a {
				@include font-size(18px, 1.6);
				color: var(--color-white);
				@include mq($until: sm) {
					span {
						display: none;
					}
				}
			}

			svg {
				height: 48px;
				width: 48px;
			}
			img{
				height: 56px;
				width: 56px;
			}
			&:hover {
				background: var(--color-secondary);
			}
		}
	}

	.c-action {
		margin-top: 16px;
		@include mq($until: sm) {
			svg {
				display: none;
			}
		}
	}
}
