.c-slider-blogs{
	margin-top: 36px;
	.carousel-cell{
		width: calc(25% - 12px);
		margin-left: 16px;
		border: 1px solid var(--color-grey);
		transition: all .2s linear;
		box-sizing: border-box;
		img{
			height: 160px;
			object-fit: cover;
		}
		&:hover{
			box-shadow: rgba(0, 0, 0, .1) 0 20px 25px -5px, rgba(0, 0, 0, .04) 0 10px 10px -5px;
			border: 1px solid var(--color-secondary);
			.c-blog__info a{
				color: var(--color-secondary);
			}
			.c-btn-read-more a{
				background: var(--color-secondary);
			}
		}
		@include mq($from:md,$until:1100px){
			width: calc(33.33% - 11px);
		}
		@include mq($from:sm,$until:md){
			width: calc(45% - 12px);
		}
		@include mq($until:sm){
			width: calc(80% - 12px);
		}
	}
	.c-blog__meta{
		@include font-size(13px,1.6);
		color: var(--color-text);
	}
	.c-blog__info{
		a{
			color: var(--color-primary);
			font-weight: bold;
			@include font-size(16px,1.6);
			transition: all .2s linear;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
			overflow: hidden;
			height: 48px;
		}
		p{
			@include font-size(14px,1.6);
			color: var(--color-text);
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 4;
			overflow: hidden;
			height: 90px;
		}
	}
}
.c-btn-read-more{
	a{
		background: var(--color-primary);
		color: var(--color-white);
		border-radius: 8px;
		padding: 12px;
		display: flex;
		justify-content: center;
		margin-top: 16px;
		@include font-size(14px,1.6);
		transition: all .2s linear;
	}
}
.dot.is-selected{
	background: var(--color-secondary);
}
.flickity-page-dots{
	bottom: -40px;
}
