.kk-star-ratings{
	.kksr-muted{
		display: none;
	}
	.kksr-legend{
		font-size: 14px !important;
		color: var(--color-text);
	}
}
.share-icons{
	color: var(--color-text);
	svg{
		fill: var(--color-text);
	}
	a:hover svg{
		fill: var(--color-secondary);
	}
}
