#popup-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.55);
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 9998;
}


/* Popup box */
#popup-box {
	max-width: 600px;
	width: 90%;
	position: relative;
	text-align: center;
	box-shadow: 0 25px 60px rgba(0, 0, 0, 0.3);
	animation: fadeInScale 0.55s ease forwards;
	img{
		max-width: 100%;
		height: auto;
		border-radius: $border-radius;
	}
}


/* Close button */
#popup-close {
	position: absolute;
	top: 10px;
	right: 20px;
	cursor: pointer;
	@include font-size(36px,1.6);
	color: var(--color-white);
	transition: 0.25s;
}
#popup-close:hover {
	color: var(--color-secondary);
}


/* Animation */
@keyframes fadeInScale {
	from {
		opacity: 0;
		transform: scale(0.7);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}
