.c-home-steps{
	&__content{
		margin-top: 36px;
	}
	ul{
		li{
			background: var(--color-white);
			width: calc(33.33% - 11px);
			border-radius: $border-radius;
			border: 1px solid var(--color-grey);
			padding:16px 18px;
			box-sizing: border-box;
			transition: all .2s linear;
			cursor: pointer;
			&:nth-child(-n + 4) {
				width: calc(24% - 3px);
			}
			&:last-child{
				padding: 0;
				display: flex;
				img{
					height: auto;
				}
			}
			@include mq($from:md,$until:desktop){
				width: calc(33.33% - 11px);
				&:nth-child(-n + 4) {
					width: calc(50% - 8px);
				}
			}
			@include mq($from:sm,$until:md){
				width: calc(50% - 8px);
				&:nth-child(-n + 4) {
					width: calc(50% - 8px);
				}
				&:last-child {
					display: none;
				}
			}
			@include mq($until:sm){
				&:nth-child(-n + 4) {
					width: 100%;
				}
				width: 100%;
			}
			p{
				margin: 0;
			}
			&:hover{
				box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
				border:1px solid var(--color-secondary);
			}
		}
		span{
			color: var(--color-secondary);
			font-weight: bold;
			@include font-size(24px,1.4);
		}
	}
	p{
		text-align: justify;
		margin: 0 auto;
		@include font-size(14px,1.6);
		color: var(--color-text);
	}
	h4{
		color: var(--color-dark);
		margin-bottom: 14px;
	}
}
.before-img{
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: -1;
}
