.u-flex {
  display: flex;
}

.u-flex--column {
  flex-direction: column;
}
.u-flex--row {
	flex-direction: row;
}
.u-flex--center {
  align-content: center;
  justify-content: center;
}
.items-center{
	align-items: center;
}
.space-between{
	justify-content: space-between;
}
.justify-center{
	justify-content: center;
}
.gap-sm{
	gap: 8px;
}
.gap-md{
	gap: 16px;
}
.gap-lg{
	gap: 64px;
}
.wrap{
	flex-wrap: wrap;
}
.flex-1{
	flex: 1;
}
