:root {
	--color-text: #696969;
	--color-text-grey:#6a6a6a;
	--color-text-black: #52575c;
	--bg-gray:#F8F8F8;
	--color-bg: #f7f8fa;
	--color-bg-80: rgba(247, 248, 250, 0.8);
	--color-bg-40: rgba(247, 248, 250, 0.4);
	--color-success: #0AB97A;
	//--color-primary: #CF0A0A;
	//--color-primary: #f03147;
	--color-secondary: #77B042;
	--color-secondary-80: #76ae42cc;
	--color-grey: #ececee;

	--color-primary-dark: #1C2C42;
	--color-primary: #2D4B74;
	--color-primary-80: rgb(45 75 116 / 80%);
	--color-primary-60: rgb(45 75 116 / 60%);
	--color-primary-40: rgb(45 75 116 / 10%);
	--color-primary-20: rgb(45 75 116 / 20%);

	--color-white: #FFFFFF;
	--color-white-80: rgba(255, 255, 255, .8);
	--color-white-60: rgba(255, 255, 255, .6);
	--color-white-40: rgba(255, 255, 255, .4);
	--color-white-20: rgba(255, 255, 255, .2);

	--color-dark: #424653;
	--color-dark-80: rgba(66, 70, 83, .8);
	--color-dark-60: rgba(66, 70, 83, .6);
	--color-dark-40: rgba(66, 70, 83, .4);
	--color-dark-20: rgba(66, 70, 83, .2);

	--plyr-color-main: var(--color-primary);

}
