@font-face {
	font-family: Ravi;
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src:url('https://pro.barghapp.com/wp-content/uploads/2025/12/Ravi-Regular.woff2') format('woff2');
}
@font-face {
	font-family: Ravi;
	font-style: normal;
	font-weight: bold;
	font-display: swap;
	src:url('https://pro.barghapp.com/wp-content/uploads/2025/12/Ravi-Bold.woff2') format('woff2');
}
