///* ========================================================================
//   #GLOBAL
//   ======================================================================== */

// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

// Standardise some UI treatments.
$global-font-size: 16px;
$Ravi: 'Ravi', serif;
$border-radius: 12px;
